@import "tailwindcss";

@theme {
  --color-gold: #E8B84B;
  --color-navy: #08090D;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("/src/font/Inter-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "InterBold";
  src: url("/src/font/Inter-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 600;
}


.font-inter {
  font-family: "Inter", sans-serif;
}

.font-inter-bold {
  font-family: "InterBold", sans-serif;
}

